body{
  /*font-family: "Montserrat";*/
  background-color: #fff;
  color: #000;
  font-family: Inter,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.container{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
/*====================================================================================*/
/*Navigation Bar*/
.top-nav-bar{
  top:30px;
  z-index: 100;
  position: absolute;
}
.nav-brand-logo{
  border: none;
  display: block;
  height: 64px;
  margin-right: 30px;
  outline: none;
  overflow: hidden;
  padding-right: 50px;
}
.nav-item{
  padding-right: 30px;
}

.nav-brand-logo img {
  width: 124px;
}
.nav-bar-container{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.signin{
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  transition: color .25s ease;
  text-decoration: none;
  padding-right: 20px;
}

/*End of Navbar Section*/
/*====================================================================================*/
/*Section one*/

.top-bg{
  background: linear-gradient(
          89.09deg
          ,#683dad .88%,#2c56b6 99.39%);
  background-size: 400% 400%;
  -webkit-clip-path: polygon(0 0,100% 0,100% 92.5%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 92.5%,0 100%);
  display: block;
  height: calc(100% + 40px);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.top-section{
  padding: 140px 0 0;
  padding-left: 75px;
}
.top-section-container{
  max-width: 100%;
  /*padding: 0;*/
  position: relative;
  z-index: 1;
  padding-left:0;
}
.top-content{
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
}
.top-head{
  color: #fff;
  font-size: 4.375em;
  line-height: 4.875rem;
  font-weight: 600;
  max-width: 650px;
}
.top-pos{
  color: #fbcf15;
  font-weight: 700;
}
.top-para{
  font-size: 1.25rem;
  color: #fff;
  font-weight: 400;
  padding: 30px 30px 0 0;
  max-width: 650px;
}
.get-started-form{
  margin-top: 40px;
}
.get-started-form-input{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border: 8px solid #fff;
  border-radius: 20px;
  border-radius: 33px;
  flex-wrap: nowrap;
  margin-right: 0;
  position: relative;
  max-width: 415px;
}
.top-get-started-btn{
  background-color: #fbcf15;
  border: none;
  border-radius: 24px;
  color: #181d1e;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  outline: 0;
  padding: 0 30px 0 30px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease;
  white-space: nowrap;
}
.get-started-form-email-input{
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: #000;
  display: block;
  font-size: 16px;
  font-weight: 300;
  height: 48px;
  outline: 0;
  width: 100%;
  padding: 0 15px 0 25px;
}

/*End of Section one*/
/*====================================================================================*/
/*Brand section*/

.brand-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  max-width: 1040px;
}
.brand-container{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.brand-list-item img{
  max-height: 100px;
  display: block;
  margin: 0 auto;
  border: 0;
  max-width: 100%;
  text-align: center;
  padding: 0 20px;
}
.brand-list-item{
  padding: 12px 17px;
  text-align: center;
  width: 33.3333%;
  max-width: 100%;
}
.brand-sec{
  justify-content: space-between;
  padding-top: 250px;
  padding-bottom: 150px;
}

/*End of Brand Section*/
/*====================================================================================*/

#features{
  text-align: center;
  padding-bottom: 200px;

}
.features-container{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.above-feature{
  margin: 0 auto 60px;
  max-width: 750px;
  text-align: center;
}
.above-feature-text{
  font-size: 3rem;
}
.p-line{
  font-size: 1.5rem;
  padding-top: 70px;
}
.feature-box{
  padding-top: 50px;
  padding-bottom: 50px;
}
.feature-img{
  width: 20%;
  margin-bottom: 2rem;
}

/*====================================================================================*/
/*Stacked photo Section*/

.stacked-photo-sec{
  background-color: #eeedf5;
  padding-top: 100px;
  padding-bottom: 100px;
}

.stacked-sec-intro{
  /*max-width: 750px;*/
  text-align: center;
  align-items: center;
  position: relative;
  padding-left: 300px;
  padding-right: 300px;
}
.stacked-sec-intro-head{
  color: #0e0e12;
  font-family: Inter,sans-serif;
  font-weight: 600;
  font-size: 3em;
  line-height: 3.5625rem;
}
.stacked-sec-intro-para{
  margin-top: 25px;
  font-size: 1.25em;
  line-height: 2rem;
  font-weight: 300;
  padding-bottom: 100px;
  padding-top: 30px;
}
.product-cta{
  padding-bottom: 30px;
}
.stacked-img{
  font-style: italic;
  display: inline-block;
  max-width: 100%;
}
.product-one-btn{
  background-color: #fbcf15;
  border: none;
  border-radius: 24px;
  color: #181d1e;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  outline: 0;
  padding: 0 30px 0 30px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease;
  white-space: nowrap;
  text-decoration: none;
}

/*End of stacked img section*/
/*==========================================================================================*/

/*Faded Img Section*/

.faded-img-sec{
  background-color: #fff;
  padding-bottom: 70px;
  padding-top: 140px;
  position: relative;
  width: 100%;
}
.faded-sec-intro{
  margin: 0 auto 60px;
  max-width: 750px;
  text-align: center;
}
.faded-sec-intro-head{
  font-size: 3em;
  line-height: 3.5625rem;
  font-weight: 600;
  color: #0e0e12;
  font-family: Inter,sans-serif;
}
.faded-sec-intro-para{
  margin-top: 25px;
  font-size: 1.25em;
  line-height: 2rem;
  font-weight: 300;
}
.faded-sec-image{
  position: relative;
  text-align: center;
  background: linear-gradient(
          180deg
          ,hsla(0,0%,100%,0),hsla(0,0%,100%,.3) 31%,#fff);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  top: 0;
  width: 100%;
  z-index: 1;
}
.faded-img{
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  border: 0;
  max-width: 100%;
}
/*End of Faded image Section*/
/*====================================================================================*/
/*Tilted Section*/

.tilted-sec{
  clip-path: polygon(0 17.5%,100% 0,100% 82.5%,0 100%);
  padding: 200px 0;
  background: linear-gradient(
          89.09deg
          ,#683dad .88%,#2c56b6 99.39%);
  padding: 90px 0;
  position: relative;
}
.tilted-sec-intro{
  max-width: 750px;
  text-align: center;
  margin: 0 auto 60px;
  color: white;
}
.tilted-sec-head{
  padding-top: 100px;
  color: #fff;
  font-size: 3em;
  line-height: 3.5625rem;
  font-weight: 600;
}
.tilted-sec-para{
  color: #fff;
  margin-top: 25px;
  opacity: .85;
  font-size: 1.25em;
  line-height: 2rem;
  font-weight: 300;
}
.tilted-sec-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.tilted-sec-btn{
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 35px;
  color: #000;
  flex-wrap: nowrap;
  font-weight: 600;
  margin: 0 5px 15px;
  padding: 0 20px 0 0;
  height: 70px;
  margin: 0 8px 20px;
  padding: 0 40px 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.tilted-sec-btn-icon{
  background-color: #eeedf5;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  justify-content: center;
  width: 50px;
}
.tilted-sec-btn-icon-img{
  display: block;
  height: 31px;
  width: 31px;
}
.col-lg-3{
  width: auto;
}
.tilted-sec-btn:hover{
  background-color: #fbcf15;
}


/*End of Tilted Section*/
/*============================================================*/

/*Carousal Section*/

.carousal-section{
  padding-top: 200px;
  text-align: center;
  padding-bottom: 100px;
}
.carousal-img {
  /*width:140px;*/
  /*padding-top: 20px;*/
  /*padding-bottom: 30px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  justify-content: center;
  margin: 15px auto;
  width: 120px;
  text-align: center;
}
.carousal-head{
  font-size: 3.5rem;
}
.carousal-para {
  /*font-size: 1.5rem;*/
  /*padding-top: 50px;*/
  /*padding-bottom: 30px;*/
  font-size: 1.5em;
  line-height: 2.375rem;
  margin: 0 auto;
  max-width: 870px;
  font-weight: 300;
  text-align: center;
  padding-top: 50px;
}
.carousal-btn {
  background-color: #fbcf15;
  border: none;
  border-radius: 24px;
  color: #181d1e;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  outline: 0;
  padding: 0 45px 0 40px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease;
  white-space: nowrap;
}
.carousal-name-para{
  padding-bottom: 80px;
}

/*End of Carousal Section*/
/*============================================================*/

/*Pricing Section*/

.pricing-sec-para-one{
  margin-bottom: 15px;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.5rem;
  font-weight: 600;
}
.pricing-sec-head-one{
  margin-bottom: 30px;
  color: #fff;
  font-size: 3em;
  line-height: 3.5625rem;
  font-weight: 600;
  font-family: Inter,sans-serif;
}
.pricing-sec-str{
  color: #fbcf15;
  font-weight: 700;
  line-height: 3.5625rem;
  font-family: Inter,sans-serif;
}
.pricing-sec-para-two{
  color: #fff;
  font-size: 1.25em;
  line-height: 2rem;
  font-weight: 300;
}
.module-icon{
  height: 60px;
  width: 60px;
  background-color: hsla(0,0%,100%,.1);
  border-radius: 50%;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}
.module-icon-img{
  display: block;
  height: 31px;
  width: 31px;
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
}
.pricing-sec-right{
  position: relative;
  padding-left: 75px;
  margin-bottom: 50px;
}
.pricing-sec-right-head{
  padding-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.5rem;
  font-weight: 600;
}
.pricing-sec-para-right{
  margin-bottom: 20px;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5625rem;
}
.pricing-sec-anker{
  color: #fbcf15;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/*End of Pricing Section*/
/*============================================================*/


/*Card Section*/

#card-sec{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
}
.card{
  color: white;
}
.card-body {
  color: #181d1e;
  padding: 40px 30px 0;
}
.card-title{
  padding-top: 40px;
  margin-bottom: 15px;
  font-size: 1.5em;
  line-height: 1.8125rem;
  font-weight: 600;
  color: #0e0e12;
  font-family: Inter,sans-serif;
}
.card-text{
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5625rem;
}
.card-img-top{
  padding-top: 20px;
  border-radius: 20px 20px 20px 20px;
}

/*End of card Section*/
/*============================================================*/








/*============================================================================================================*/
/*==============================================================================================================*/





#footer{
  background: linear-gradient(
    89.09deg
    ,#683dad .88%,#2c56b6 99.39%);
  -webkit-clip-path: polygon(0 7.5%,100% 0,100% 100%,0 100%);
  clip-path: polygon(0 7.5%,100% 0,100% 100%,0 100%);
  padding: 130px 0 40px;
  text-align: center;
}
.upper-footer-sec{
  color: white;
}
.footer-button{
  background-color: #fbcf15;
  border: none;
  border-radius: 24px;
  color: #181d1e;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  outline: 0;
  padding: 0 49px 0 30px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease;
  white-space: nowrap;
}
.top-footer-btn{
  background-color: #fff;
  border: none;
  border-radius: 30px;
  color: #181d1e;
  display: inline-block;
  height: 48px;
  line-height: 38px;
  outline: 0;
  padding: 4px 5px 52px 30px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease;
  white-space: nowrap;
}
.top-title-btn{
  padding-left: 100px;
}
.footer-btn {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  color: #181d1e;
  display: inline-block;
  height: 48px;
  line-height: 38px;
  outline: 0;
  padding: 4px 5px 52px 30px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease;
  white-space: nowrap;
}
.upper-footer-head{
  padding-bottom: 30px;
  font-size: 3rem;
}
.upper-footer-para{
  font-size: 1.3rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.footer-table{
  width: 100%;
  color: white;
  padding-top: 100px;
  padding-left: 200px;
}

.frt{
  text-align: left;
  padding-left: 120px;
}
.email-box{
  border: none;
  padding-right: 20px;
}
.get-started-btn{
  background-color: #fbcf15;
  border: none;
  border-radius: 24px;
  color: #181d1e;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  outline: 0;
  padding: 0 30px 0 30px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease;
  white-space: nowrap;
}
/*============================================================================================================*/
/*==============================================================================================================*/


/*============================================================================================================*/
/*==============================================================================================================*/


.footer-sec{
  clip-path: polygon(0 17.5%,100% 0,100% 100%,0 100%);
  padding: 200px 0 40px;
  background: linear-gradient(
    89.09deg
    ,#683dad .88%,#2c56b6 99.39%);
}
.footer-form{
  position: relative;
  width: 100%;
}
.footer-form-intro{
  margin: 0 auto 40px;
  max-width: 725px;
  text-align: center;
}
.footer-form-intro-head{
  color: #fff;
  font-size: 3em;
  line-height: 3.5625rem;
  font-weight: 600;
  font-family: Inter,sans-serif;
}
.footer-form-intro-para{
  color: #fff;
  margin-top: 25px;
  font-size: 1.25em;
  line-height: 2rem;
  font-weight: 300;
}
.footer-get-started-form{
  margin: 0 auto 80px;
  max-width: 415px;
}
.footer-get-started-form-input{
  border-radius: 33px;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border: 8px solid #fff;
  margin-right: 0;
  position: relative;
}
.get-started-form-label{
  height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 0;
  display: block;
  font-size: .875em;
  font-weight: 300;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer-input{
  background: none;
  flex-grow: 2;
  border-radius: 4px;
  border: none;
  color: #000;
  display: block;
  font-size: 16px;
  font-weight: 300;
  height: 48px;
  outline: 0;
  padding: 0 15px;
  width: 100%;
  line-height: normal;
  cursor: pointer;
}
.footer-btn{
  background-color: #fbcf15;
  border: none;
  border-radius: 24px;
  color: #181d1e;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  outline: 0;
  padding: 0 49px 0 49px;
  position: relative;
  text-align: center;
  transition: background-color .25s ease;
  white-space: nowrap;
}
.footer-contact{
  padding-bottom: 0;
  width: calc(33% - 15px);
  position: relative;
  max-width: 500px;
}
.footer-h3{
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.125em;
  line-height: 1.3125rem;
  font-weight: 600;
}
.footer-contact-para{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5625rem;
}
.contact-app{
  padding-top: 25px;
}
.footer-announcement{
  padding-top: 25px;
}
.footer-announcement-para{
  margin-bottom: 15px;
  max-width: 21.25rem;
  color: #fff;
  font-size: .875em;
  font-weight: 300;
  line-height: 1.5625rem;
}
.feedback-btn{
  color: #181d1e;
  background-color: #fbcf15;
  border: none;
  border-radius: 24px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  outline: 0;
  padding: 0 49px 0 30px;
  position: relative;
  text-align: center;
}
.footer-pcs{
  width: calc(66% - 15px);
  position: relative;
}
.footer-menu{
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.footer-menu-item-one{
  flex-basis: 0;
  flex-grow: 1;
  padding-right: 0;
  margin-bottom: 0;
  width: auto;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5625rem;
  list-style: none;
  text-decoration: none;
}
.sub-menu{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5625rem;
}
.footer-item{
  margin-bottom: 7px;
  flex-basis: 0;
  flex-grow: 1;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5625rem;
  text-decoration: none;
}
.footer-heading{
  color: #fff;
  margin-bottom: 20px;
  cursor: default;
  display: block;
  pointer-events: none;
  font-size: 1.125em;
  line-height: 1.3125rem;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
}

.g05__menu {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}





















/*============================================================================================================*/
/*==============================================================================================================*/
/*============================================================================================================*/
/*==============================================================================================================*/
/*.card-sec{*/
/*  padding-top: 70px;*/
/*}*/
/*.card-sec-row{*/
/*  align-items: flex-start;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-between;*/
/*}*/
/*.card-one{*/
/*  width: calc(50% - 60px);*/
/*  position: relative;*/
/*}*/
/*.card-img-top{*/
/*  height: 320px;*/
/*  background-position: 50%;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  border-radius: 20px;*/
/*  width: 700px;*/
/*}*/






/*.top-img{*/
/*  padding-top: 20px;*/
/*  z-index: 1;*/
/*}*/
/*.section-one{*/
/*  padding-top: 1%;*/
/*  padding-left: 15%;*/
/*}*/
/*.heading{*/
/*  color: #fff;*/
/*  font-family: "Montserrat" ;*/
/*  font-size: 5rem;*/
/*  line-height: 1;*/
/*  padding-top: 7%;*/
/*  padding-left: 100px;*/
/*}*/
/*.heading-paragraph{*/
/*  color:#fff;*/
/*  padding-top: 50px;*/
/*  padding-bottom: 20px;*/
/*  font-size: 1.3rem;*/
/*  padding-left: 100px;*/
/*}*/
/*.tittle-button{*/
/*  padding-left: 100px;*/
/*}*/
/*#head-pic{*/
/*  padding-top: 100px;*/
/*}*/
/*strong{*/
/*  color: yellow;*/
/*}*/
/*#title{*/
/*  background: linear-gradient(89.09deg,#683dad .88%,#2c56b6 99.39%);*/
/*  background-size: 300% 300%;*/
/*  -webkit-clip-path: polygon(0 0,100% 0,100% 92.5%,0 100%);*/
/*  clip-path: polygon(0 0,100% 0,100% 92.5%,0 100%);*/
/*  display: block;*/
/*  height: calc(100% + 40px);*/
/*  left: 0;*/
/*  pointer-events: none;*/

/*  top: 0;*/
/*  width: 100%;*/
/*  z-index: 0;*/
/*}*/
/*#brand-logo {*/
/*  padding-top: 200px;*/
/*  padding-bottom:100px ;*/
/*  padding-left: 150px;*/
/*  padding-right: 100px;*/

/*}*/
/*.mid-img{*/
/*  width: 60%;*/
/*}*/


/*#product-page{*/
/*  text-align: center;*/
/*  background-color: #eeedf5;*/
/*  padding: 70px 0;*/
/*}*/
/*.stack-img{*/
/*  width: 50%;*/
/*  padding-top: 10px;*/
/*}*/
/*.sec-three-head{*/
/*  font-size: 3rem;*/
/*}*/
/*.sec-three-para{*/
/*  font-size: 1.5rem;*/
/*  padding-top: 30px;*/
/*}*/
/*#faded-product-page{*/
/*  text-align: center;*/
/*  padding-top: 150px;*/
/*  padding-bottom: 100px;*/
/*}*/
/*.faded-sec-head{*/
/*  font-size: 3rem;*/
/*}*/
/*.faded-sec-para{*/
/*  font-size: 1.5rem;*/
/*  padding-bottom: 20px;*/
/*}*/
/*.faded-head-para{*/
/*  padding-bottom: 100px;*/
/*}*/
/*#tilted-section {*/
/*  background: linear-gradient(*/
/*          89.09deg*/
/*          ,#683dad .88%,#2c56b6 99.39%);*/
/*  -webkit-clip-path: polygon(0 7.5%,100% 0,100% 92.5%,0 100%);*/
/*  clip-path: polygon(0 7.5%,100% 0,100% 92.5%,0 100%);*/
/*  padding: 90px 0;*/
/*  position: relative;*/
/*  text-align: center;*/
/*}*/
/*.tilted-sec-head{*/
/*  color: #fff;*/
/*  font-size: 3rem;*/
/*  padding-bottom: 30px;*/
/*}*/
/*.tilted-sec-para{*/
/*  color: #fff;*/
/*  font-size: 1.2rem;*/
/*}*/

/*.pricing-sec {*/
/*  text-align: center;*/
/*  background-color: #7669d1;*/
/*  padding: 70px 0;*/
/*  text-align: left;*/
/*  color: white;*/
/*  border-radius: 20px;*/
/*}*/
/*.pricing-right-col{*/

/*}*/




/*.nav-bar{*/
/*  left: 0;*/
/*  position: absolute;*/
/*  z-index: 100;*/
/*  width: 100%;*/
/*  padding-top: 0;*/
/*  top:50px;*/
/*}*/

/*.menu-wrapper{*/
/*  justify-content: flex-start;*/
/*  width: auto;*/
/*  align-items: flex-start;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  justify-content: flex-start;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  width: auto;*/
/*  padding-top: 5px;*/
/*}*/

/*.nav-brand-logo img {*/
/*  display: block;*/
/*  height: auto;*/
/*  position: relative;*/
/*  width: 124px;*/
/*}*/
/*.nav-bar-menu{*/
/*  display: flex;*/
/*  list-style: none;*/
/*}*/
/*.nav-bar-menu-item{*/
/*  cursor :pointer;*/
/*  padding-right: 30px;*/
/*  color: #fff;*/
/*  font-size: 1em;*/
/*  font-weight: 400;*/
/*}*/
/*.nav-bar-menu-item>li{*/
/*  display: inline-block;*/
/*  padding-bottom: 20px;*/
/*  padding-top: 20px;*/
/*  position: relative;*/
/*}*/
/*.nav-bar-phone{*/
/*  color: #fff;*/
/*  position: relative;*/
/*  text-decoration: none;*/
/*  padding-top: 15px;*/
/*  left: 50px;*/
/*}*/
/*.login-signup{*/
/*  align-items: flex-start;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  justify-content: flex-start;*/
/*  align-items: center;*/
/*  padding-left: 150px;*/
/*  padding-top: 2px;*/


/*}*/



/*.product-list{*/
/*  padding-right: 30px;*/
/*  padding-top: 0;*/
/*  position: relative;*/
/*}*/
/*.product-item{*/
/*  margin-bottom: 10px;*/
/*  padding: 35px;*/
/*  background-color: #fff;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 4px 6px rgb(0 5 74 / 7%);*/
/*  padding: 25px;*/
/*  position: relative;*/
/*  transition: background-color .25s ease;*/
/*}*/
/*.product-item:hover{*/
/*  background-color: #fbcf15;*/
/*}*/
/*.product-item-one-head{*/
/*  padding-left: 15px;*/
/*  color: #fff;*/
/*  position: relative;*/
/*}*/
/*.product-one-content-inner{*/
/*  padding: 15px;*/
/*}*/
/*.product-item-one-para{*/
/*  margin-top: 20px;*/
/*  margin-bottom: 30px;*/
/*  max-width: 24.375rem;*/
/*  font-size: 1em;*/
/*  font-weight: 300;*/
/*  line-height: 1.5625rem;*/
/*  position: relative;*/
/*}*/

/*.product-item-other-head{*/
/*  font-size: 1.25em;*/
/*  line-height: 1.5rem;*/
/*}*/
